body {
    font-family: Arial, sans-serif;
}

#homeScreen button,
#flashcard button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

#question {
    margin-bottom: 20px;
}

#answers button {
    display: block;
    margin-bottom: 10px;
}